@model TodoListViewModel

<form method="post" asp-controller="Todo" asp-action="Add">
    
    
    
<div class="col-12">
<div class="input-group mb-3 ">
  <span class="input-group-text" id="inputGroup-sizing-default">Yeni Bir Görev Ekle</span>
  <input type="text" name="Task" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" asp-for="Task">
  
  <button class="btn btn-success" type="submit">Ekle</button>
  
</div>

</form>








<table class="table ">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Görev</th>
      <th scope="col">Öncelik</th>
      <th scope="col">Düzenle</th>
      <th scope="col">Yapıldı Olarak İşaretle</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Pazardan elma al</td>
      <td>Yüksek</td>
      <td><button class="btn btn-danger">Sil</button> <button class="btn btn-success">Düzenle</button></td>
     <td ><div class="form-check form-switch justify-content-right">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
</div>  </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>Arabanın Yağını Değiştir</td>
      <td>Düşük</td>
    </tr>
    <tr>
      
    </tr>
  </tbody>
</table>
</div>