<form method="post" asp-controller="Todo" asp-action="Add">
    
    
    
<div class="col-12">
<div class="input-group mb-3 ">
  <span class="input-group-text" id="inputGroup-sizing-default">Yeni Bir Görev Ekle</span>
  <input type="text" class="form-control" name="Task" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="Task">
  <input type="date" class="  btn btn-warning" />
  
  <button class="btn btn-success" type="submit">Ekle</button>
  
</div>

</form>
